@import url("reset.css");

body {
    background-color: slategrey;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.calculator {
    width: 240px;
    height: 390px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: white;
    padding: 30px 20px 10px 10px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}
.screen {
    width: 230px;
    height: 80px;
    background-color: grey;
    margin-left: 10px;
    border-radius: 10px;
}
.board div {
    display: inline-block;    
}
#rows {
    width: 180px;
    height: 130px;
}
.btn {
    width: 50px;
    height: 50px;
    background-color: black;
    margin: 10px 0 0 10px;
    text-align: center;
    border-radius: 5px;
}
 .btn p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#equals {
    height: 110px;
    width: 50px;
    position: relative;
    bottom: 60px;
}
#zero {
    width: 110px;
}
.symbol {
    text-align: right;
    font-size: 50px;
    padding: 0 15px;
}